@page "/gioithieu"
<h1> Tổng quan về Guitar VN </h1>

<h5>
    “Guitar VN luôn là điểm dừng chân thú vị cho anh em yêu âm nhạc, và cây đàn guitar. Với tiêu chí Uy Tín Là Chất Lượng shop luôn nỗ lực mang đến cho các bạn chất lượng dịch vụ dạy học tốt nhất, chất lượng sản phẩm đàn guitar hoàn hoàn hảo nhất với 1 chế độ bảo hành uy tín nhất”

</h5>

<p>
    Đến với  Guitar VN, các bạn sẽ không còn phải băn khoăn  trong việc lựa chọn cho mình 1 sản phẩm phù hợp yêu cầu và đảm bảo chất lượng ,dù ngồi nhà vẫn mua sắm rất dễ hàng. Chúng tôi cung cấp cho các bạn :
– Các sản phẩm nhạc cụ Guitar, Ukulele, Guitarlele, Cajon…,và phụ kiện chất lượng , được chọn lọc ,đa dạng về mẫu mã, chủng loại, mức giá, phù hợp mọi đối tượng.
– Chế Độ Bảo Hành uy tín.
– Hỗ trợ nhiệt tình tư vấn để lựa chọn sản phẩm.
– Ship hàng mọi nơi, đảm bảo
– Bên cạnh việc bán đàn chất lượng cao, chúng tôi còn đào tạo những khóa học âm nhạc rất chất lượng. 


</p>
<img src = "https://guitarhanoi.com/wp-content/uploads/2017/12/gthn2.jpg" />
<p>
    Chúng tôi luôn luôn lắng nghe & bảo vệ quyền lợi chính đáng cho các bạn!!!
</p>
<h3>
    Mọi chi tiết xin vui lòng liên hệ:
</h3>
<p>
     GUITAR VN
</p>
<p>
     *Địa Chỉ: 99 Hồ Đắc Di,TP.Huế
</p>
<p>
     *SDT: 0368445350
</p>

